* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
  }
  body {
    background: url(images/hei.jpg)no-repeat;
    overflow: auto;
  }
  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 3 rem;
    text-decoration: underline;
  }
  h2 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
  }
  p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 19px;
  }
  ul {
    text-align: left;
    padding-left: 10%;
    padding: 7%;
    font-size: 2 rem;
    list-style: circle;
  }
  li:hover {
    color: red;
    margin: 4%;
    transition: 1.5 s ease;
    cursor: pointer;
  }
  .row {
    display:flex ;
    justify-content: center;
  }
  .row input{
    width: 49vw;
    height: 6vh;
  }
  .form-group {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
  }
  .form-group input:hover {
    color: wheat;
    transition: 1.5s ease;
    cursor: pointer;
    background-color: black;
  }
  .form-group input {
    background: blueviolet;
    width: 20px;
  }
  li:hover {
    color: white;
    transition: 1.5s ease;
    cursor: pointer;
  }
  